<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>

</ng-template>

<div *ngIf="hero; else divLoading" class="grid p-2">

  <mat-card class="col-12 sm:col-6">
    <mat-card-header>
      <mat-card-title>{{hero.alter_ego}}</mat-card-title>
      <mat-card-subtitle>{{hero.superhero}}</mat-card-subtitle>
    </mat-card-header>

    <img [src]="hero | heroImage" [alt]="hero.superhero" mat-card-image>
  </mat-card>

  <mat-card class="col-12 sm:col-6">
    <mat-card-header>
      <mat-card-title>Información</mat-card-title>
      <mat-card-subtitle>{{hero.superhero}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-list class="p-4">
        <mat-list-item class="mb-3">
          <mat-card-title>Primera aparición</mat-card-title>
          <mat-card-subtitle>{{hero.first_appearance}}</mat-card-subtitle>
        </mat-list-item>
        <mat-list-item class="mb-3">
          <mat-card-title>Personaje</mat-card-title>
          <mat-card-subtitle>{{hero.characters}}</mat-card-subtitle>
        </mat-list-item>
        <mat-list-item class="mb-3">
          <mat-card-title>Editorial</mat-card-title>
          <mat-card-subtitle>{{hero.publisher}}</mat-card-subtitle>
        </mat-list-item>
        <mat-list-item class="mb-3">
          <mat-card-title>Alter ego</mat-card-title>
          <mat-card-subtitle>{{hero.alter_ego}}</mat-card-subtitle>
        </mat-list-item>
      </mat-list>

      <button mat-raised-button color="primary" (click)="goBack()">
        Regresar
      </button>
    </mat-card-content>
  </mat-card>

</div>
